@tailwind base;
@tailwind components;
@tailwind utilities;








/* Tailwind CSS classes for the lights */
.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }
  
  .active {
    opacity: 1;
  }
  
  .inactive {
    opacity: 0.2;
  }
  
  .red-light {
    background-color: red;
  }
  
  .yellow-light {
    background-color: yellow;
  }
  
  .green-light {
    background-color: green;
  }
  
  .traffic-light-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
  }
  
  .pedestrian-btn {
    margin-top: 10px;
  }
  